.background{
    height: 100vh;
    display:flex;
    background-image: url('../../public/login.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}